*{
font-family: 'Source Sans Pro', sans-serif;
}
.menucontainer{
  height: 50px;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;

  display:flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-start ;
  align-items: flex-start;
  }
.maincontainer{
  height: 400px;
  background-color: rgb(246, 248,250);
  font-size: 40px;
  margin-bottom: -5rem;

  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  }
  .box{
    width: 400px;
    padding: 1rem 2rem 1rem;
  }
  .container{
    height: 500px;
    background-color: rgb(226, 119, 91);
    color: white;

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    }
